.wrapper {
    width: 960px;
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
}

.header-wrapper {
    display: flex;
}

.header-wrapper a {
    text-decoration: none;
    color: black;
}

.header-wrapper a:hover {
    opacity: 0.7;
}

.logo {
    width: 120px;
}

nav {
    margin-left: auto;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

li {
    list-style-type: none;
}

.header-wrapper li {
    margin-left: 30px;
}

.main-visual {
    height: 600px;
    width: 100%;
    margin-bottom: 80px;
    object-fit: cover; /* 追加 */
}

.title {
    border-bottom: solid 1px;
    display: inline-block;
    font-size: 2rem;
}

.section-wrapper {
    text-align: center;
    margin-bottom: 80px;
}

.about-img {
    border-radius: 50%;
    height: 100px;
    margin-right: 30px;
}

.section-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-name {
    text-align: left;
}

.section-wrapper li {
    width: 32%;
}

.bicycle-img {
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    #about .section-content {
        flex-direction: column;
    }

    #bicycle ul {
        flex-direction: column;
    }
    #bicycle li {
        width: 100%;
        margin-bottom: 30px;
    }
}